//.HiraganaPage {
//    display: flex;
//    flex-direction: column;
//    align-items: center;
//    justify-content: center;
//    height: 100vh;
//    background-color: #f0f0f0;
//
//    .title {
//        font-size: 2rem;
//        margin-bottom: 20px;
//        color: #333;
//    }
//
//    .hiragana-chart {
//        display: grid;
//        grid-template-columns: repeat(5, 1fr);
//        gap: 10px;
//
//        .hiragana-character {
//        padding: 20px;
//        background-color: #fff;
//        border-radius: 5px;
//        text-align: center;
//        font-size: 1.5rem;
//        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
//        transition: transform 0.2s;
//
//        &:hover {
//            transform: scale(1.05);
//        }
//        }
//    }
//}

.HiraganaPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  flex: 1;

  .title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .subtitle {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .FlipCardContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;

    .flip-card {
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}