nav {
  padding: 2px 0.5rem;
  background-color: #948979;

  ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    //gap: 1rem;
    justify-content: space-around;
    width: 100%;
  }

  a {
    text-decoration: none;
    font-weight: bold;

    &:hover {
      color: #007bff;
    }
  }
}

