@use "variables";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// examples

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

// examples

@import 'atoms/atom.scss';
@import 'molecules/molecule.scss';
@import 'organisms/organism.scss';

* {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: black;
}

//examples

body {
  height: 100dvh;
  width: 100dvw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: fit-content;
  padding: 0;
  margin: 0;
  background-color: #DFD0B8;
}

.main-color {
  background-color: variables.$mainColor;
}

.secondary-color {
  background-color: variables.$secondaryColor;
}

.accent-color {
  background-color: variables.$accentColor;
}

.text-color, h1, h2, a, p, .dropdown-button {
  color: variables.$textColor;
}


.rarity-common {
  background: variables.$common-color;
}

.rarity-uncommon {
  background: variables.$uncommon-color;
}

.rarity-rare {
  background: variables.$rare-color;
}

.rarity-epic {
  background: variables.$epic-color;
}

.rarity-legendary {
  background: variables.$legendary-color;
}

.rarity-mythical {
  background: variables.$mythical-color;
}

.rarity-mystical {
  background: variables.$mythical-color;
}
